input{
    width: 344px;
    height: 64px;
    border-radius: 12px;
    padding: 12px 16px;
    border: 1px solid #EBEEF5;
    background: var(--black-10);
    font-weight: 400;
    font-size: 20px;
    line-height: 114%;
    color: #EBEEF5;
}