span {
    margin-left: 5px;
}

.filter-buttons {
	margin-top: 88px;
	padding: 8px;
	width: 368px;
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	backdrop-filter: blur(80px);
	background: rgba(18, 24, 41, 0.8);
	border-radius: 12px;
	margin-bottom: 88px;
}

button {
	width: 130px;
	height: 40px;
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	color: #ebeef5;
	background: var(--black-10);
	border: none;
	cursor: pointer;
	border-radius: 8px;
}

button:hover {
	transition: 0.5s all;
	opacity: 0.7;
}