@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    color: #C4C5CA;
    animation: spin 1s linear infinite;
    font-size: 3rem; /* Установите желаемый размер спиннера */
    display: block;
    margin: 0 auto; /* Выравнивание по центру */
}

.loader-container {
    text-align: center; /* Выравнивание текста по центру */
}