.wrapper {
	background: url("../../assets/Background.png") center center/cover no-repeat;
	padding: 50px 120px 10px 120px;
	height: 100%;
}

h1 {
	font-weight: 600;
	font-size: 45px;
	line-height: 125%;
	margin: 0;
}

h2 {
	font-size: 40px;
	margin-top: 0;
}

.light .wrapper {
	color: #333;
	background-color: #fff;
	height: 100%;
}

.dark .wrapper {
	color: #ebeef5;
	background-color: #121829;
	height: 100%;
}
