.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pagination .current-page {
    font-size: 120%;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media screen and (max-width: 600px) {
    .pagination {
        flex-direction: column;
        align-items: center;
    }

    .pagination li {
        margin: 5px 0;
    }

    .pagination button {
        width: auto;
        margin-bottom: 5px;
    }
}