.movie-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(266px, auto));
    grid-template-rows: repeat(2, minmax(400px, auto));
    column-gap: 24px;
    row-gap: 20px;
}

.movie-item {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

.movie-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    cursor: pointer;
}

img:hover {
    transition: 0.5s all;
    box-shadow: 0px 0px 4px 1px rgba(195, 179, 243, 1);
}